<section id="proyectos" class="custom_container">
    <div class="proyectos_banner"></div>
    <div class="proyectos_container d-flex justify-content-center align-items-center flex-column">
        <div class="proyectos_grid_container p-3 pb-0 row">
            <h2 class="col-12 section_title" style="font-family: 'Niconne', cursive;">Proyectos</h2>
        </div>
        <div class="proyectos_cont row">
            <div class="proyectos_item col-12 col-lg-4 px-0">
                <picture>
                    <source srcset="../../../assets/tazas-def.jpeg" type="image/jpeg">
                    <img class="proyectos_img mw-100" alt="proyecto 1">
                </picture>
                <div class="proyectos_description">
                    <h3 class="proyectos_description--title">Sublimación</h3>
                    <p class="proyectos_description--text">
                      <br>
                      Emprendimiento de sublimación de tazas
                    </p>
                </div>
            </div>
            <div class="proyectos_item col-12 col-lg-4 px-0">
                <picture>
                    <source srcset="../../../assets/cosmeticos-def.jpg" type="image/jpg">
                    <img class="proyectos_img mw-100" alt="proyecto 1">
                </picture>
                <div class="proyectos_description">
                    <h3 class="proyectos_description--title">Cosméticos</h3>
                    <p class="proyectos_description--text">
                      <br>
                      Venta de cosméticos de todo tipo mediante redes sociales
                    </p>
                </div>
            </div>
            <div class="proyectos_item col-12 col-lg-4 px-0">
                <picture>
                    <source srcset="../../../assets/azulejos-def.jpg" type="image/jpg">
                    <img class="proyectos_img mw-100" alt="proyecto 1">
                </picture>
                <div class="proyectos_description">
                    <h3 class="proyectos_description--title">Azulejos, Cerámicos</h3>
                    <p class="proyectos_description--text">
                      <br>
                      Emprendimiento de venta de azulejos y cerámicos con diseño personalizado según interés del cliente
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>