<section id="skills" class="custom_container">
    <div class="skills_banner"></div>
    <div class="skills_container d-flex">
        <div class="skills_grid_container d-flex justify-content-center align-items-center mx-auto p-3 row">
           <h2 class="col-12 section_title" style="font-family: 'Niconne', cursive;">Hard & Soft Skills</h2>
           <div class="col-12 row gap-3 d-flex justify-content-around align-items-center mx-auto">
            <div class="skills_card col-12 col-md-4 col-lg-3 p-3 d-flex flex-column align-items-center justify-content-center">
                <circle-progress
                    [percent]="95"
                    [radius]="70"
                    [imageSrc]="'../../../assets/html-5.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d6efd'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <h4 class="text-dark">HTML</h4>
            </div>
            <div class="skills_card col-12 col-md-4 col-lg-3 p-3 d-flex flex-column align-items-center justify-content-center">
                <circle-progress
                    [percent]="90"
                    [radius]="70"
                    [imageSrc]="'../../../assets/css.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d6efd'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <h4 class="text-dark">Css</h4>
            </div>
            <div class="skills_card col-12 col-md-4 col-lg-3 p-3 d-flex flex-column align-items-center justify-content-center">
                <circle-progress
                    [percent]="80"
                    [radius]="70"
                    [imageSrc]="'../../../assets/javascript.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d6efd'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <h4 class="text-dark">Javascript</h4>
            </div>
            <div class="skills_card col-12 col-md-4 col-lg-3 p-3 d-flex flex-column align-items-center justify-content-center">
                <circle-progress
                    [percent]="75"
                    [radius]="70"
                    [imageSrc]="'../../../assets/githubb.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d6efd'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <h4 class="text-dark">Github</h4>
            </div>
            <div class="skills_card col-12 col-md-4 col-lg-3 p-3 d-flex flex-column align-items-center justify-content-center">
                <circle-progress
                    [percent]="90"
                    [radius]="70"
                    [imageSrc]="'../../../assets/empatia.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d6efd'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <h4 class="text-dark">Empatía</h4>
            </div>
            <div class="skills_card col-12 col-md-4 col-lg-3 p-3 d-flex flex-column align-items-center justify-content-center">
                <circle-progress
                    [percent]="95"
                    [radius]="70"
                    [imageSrc]="'../../../assets/support.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d6efd'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <h4 class="text-dark">Trabajo grupal</h4>
            </div>
           </div>
       </div>
   </div>
</section>