<section id="acerca-de" class="custom_container">
    <div class="acerca_banner"></div>
    <div class="acerca_container d-flex">
         <div class="grid_container d-flex justify-content-center align-items-center mx-auto p-3 row">
            <h2 class="col-12 section_title" style="font-family: 'Niconne', cursive;">Acerca de mi</h2>
            <div class="container_img_perfil col-10 col-sm-8 col-md-5 p-3 d-flex flex-column align-items-center justify-content-center">
                <h4>{{persona.nombre}} {{persona.apellido}}</h4>
                <img class="img-fluid img_responsive" src="../../../assets/img_profile.jpg" alt="">
                <h4 class="my-2">Full Stack Jr</h4>
            </div>
            <div class="col-12 col-sm-12 col-md-7 d-flex flex-column align-items-center justify-content-center mx-auto p-3">
                <p class="p_contraste">Bienvenid@ a mi portfolio me llamo Andrea Mabel Becerra Araoz y tengo 22 años, soy estudiante universitaria de la carrera Administración de Empresas en la Universidad Nacional de Salta también soy Full stack developer Jr. Te invito a seguir scrolleando!</p>
            </div>
        </div>
    </div>
    
</section>